<h1>Log In Below:</h1>

<form action='/sessions' method='POST'>
    Email: <input id='email' type='text' name='email'>
    PW: <input id='password' type='password' name='password'>

    <input type='submit' value='Log In'>
</form>